nav {

  border-radius: 10px;

}

nav ul {
  list-style: none;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
  backdrop-filter: blur(2px);

}

nav ul li {

  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: ;
}

nav ul li a {
  
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: double;

}

nav ul li:hover {
  background: gray;
  border-radius: 10px;
}

body {
  background-color: lightblue;
}

h1 {
  
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
  color: rgb(12, 12, 1);
}

p {
  color: red;
  text-align: center;
  text-align: justify;
}

#border {

  border-top-style: dashed;
  border-bottom-style: dotted;
  padding: 15px;
}

section p {
  color: #007bee;
  padding: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
}

aside {
  background-color: black;
}

body {

  background-image: url(img/fondo.jpg);
  
}

#cont {

 
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 40px;
  outline: dotted;
  backdrop-filter: blur(10px);
  width: 70%;
  height: 70%;
  margin: auto;
  font-size: 30px;
  text-align: justify;
  
  
  
}

#logobarra {
  float: right;
  margin-top: 8px;
  padding-right: 15px;
}

#mona{

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;

  
}

#imagenmona{

  width: 300px;
  height: auto;
  padding-top: 30px;
}

#linkface{
  font-size: 150px;
  font-style: normal;
  color:  green;
}

#linkface:hover{

  background-color: red;
  color: #fff;
}