{% extends "base.html" %}

{% block title %} Edit a team {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edit a teams</h2>
        <div class="card">
            <div class="card-body">

                <form action="/editTeams/" method="POST"> {% csrf_token %}

                    <div class="form-group py-2">
                        <input type="text" id="number" name="number" class="form-control"
                              value="{{teams.number}}" required readonly>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="nameTeam" name="nameTeam" class="form-control"
                            placeholder="Name Team" minlength="1" maxlength="20" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="venue" name="venue" class="form-control"
                            placeholder="Venue" minlength="1" maxlength="20" required>
                    </div>

                    <div class="form-group py-2">
                        <input type="text" id="ownerName" name="ownerName" class="form-control"
                            placeholder="Owner's name" minlength="1" maxlength="20" required>
                    </div>

                    <div class="form-group py-4">
                        <button type="submit" class="btn btn-success btn-block text-white">Edit</button>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>
{% endblock %}